@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        font-family: 'Lora', serif;
    }
    
    :root {
        --menu-background: hsl(220deg 15% 24%);
        --color-text-base: #fff;
        --page-bg-color: hsl(220deg 10% 14%);
        --header-bg-color: hsl(220deg 10% 20%);
    }
}

